
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="page">
    <div id="memberTab" class="container">
        <ul class="nav nav-tabs">
            <li><a href="#basic">基本資料</a></li>
            <li><a href="#modify">變更密碼</a></li>
            <li><a href="#menu2">尋寵啟示</a></li>
            <li><a href="#menu3">拾獲通報</a></li>
            <li><a href="#menu3">我的關注</a></li>
            <li><a href="#menu3">個人消息</a></li>
        </ul>

        <div class="tab-content">
            <div id="modify" class="tab-pane fade in section_memberItems">
                <div id="" class="member_profile">
                    <form class="form-horizontal" action="">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="FormerPwd">舊密碼:</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="FormerPwd" placeholder="" name="FormerPwd">
                            </div>
                            <div class="col-sm-1 required">
                                必填
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="NewPwd">新密碼:</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="NewPwd" placeholder="" name="NewPwd">
                            </div>
                            <div class="col-sm-1 required">
                                必填
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="CheckNewPwd">確認新密碼:</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="CheckNewPwd" placeholder="" name="CheckNewPwd">
                            </div>
                            <div class="col-sm-1 required">
                                必填
                            </div>
                        </div>
                        <div id="info" class="col-sm-7 col-lg-offset-3">
                            <p>舊密碼錯誤！</p>
                        </div>
                        <div class="member_decoration"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-3">
                                <button type="submit" class="btn btn-default">取消</button>
                                <button type="submit" class="btn btn-default">儲存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

