
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="" class="member_LoginPage">
    <div class="container">
        <div class="member_Register">
            <form class="form-horizontal" method="post" action="">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserFirstName">姓:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="UserFirstName" placeholder="" name="UserFirstName">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserLastName">名:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="UserLastName" placeholder="" name="UserLastName">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">性別:</label>
                    <div class="col-sm-7">
                        <label class="radio-inline"><input type="radio" name="UserGender" value="1">男性</label>
                        <label class="radio-inline"><input type="radio" name="UserGender" value="0">女性</label>
                        <label class="radio-inline"><input type="radio" name="UserGender" value="9">保留</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserTelephome">連絡電話:</label>
                    <div class="col-sm-7">
                        <input type="tel" class="form-control" id="UserTelephome" placeholder="" name="Telephone">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserAccount">電子信箱:</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="UserAccount" placeholder="" name="Account">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserPwd">密碼:</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="UserPwd" placeholder="" name="Password">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="control-label col-sm-2" for="ConfirmPwd">確認密碼:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="ConfirmPwd" placeholder="" name="">
                        </div>
                        <div class="col-sm-1 required">
                            必填
                        </div>
                    </div>*@
                <div id="info" class="col-sm-7 col-lg-offset-3">
                    <p id="infoMsg"></p>
                    <p>@TempData["AccountIsExitOrNull"]</p>
                </div>
                <div class="memberRegister_decoration"></div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-8">
                        <button type="submit" class="btn btn-success btn-block">建立</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

