
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="" class="member_ForgetPage">
    <div class="container">
        <div class="member_forget">
            <div class="col-sm-12 forgetTitle">
                <h1>忘記密碼?</h1>
            </div>
            <div class="col-sm-12">
                <p>請於下方填寫您的電子郵件地址，您將會收到一封重設密碼的信。</p>
            </div>
            <form class="form-horizontal" action="">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="UserAccount">電子信箱:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="UserAccount" placeholder="" name="Account">
                    </div>
                </div>
                <div id="info" class="col-sm-7 col-lg-offset-3">
                    <p>查無電子郵件地址！</p>
                </div>
                <div class="memberForget_decoration"></div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-7">
                        <button type="submit" class="btn btn-success btn-block">發送</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


