
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="container tab-content">
    <div id="modify" class="section_memberItems">
        <div id="" class="member_profile">
            <form class="form-horizontal" method="post" action="">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Password">舊密碼:</label>
                    <div class="col-sm-7 ChangePageBtn">
                        <input type="password" class="form-control" id="Password" placeholder="" name="Password">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="NewPassword">新密碼:</label>
                    <div class="col-sm-7 ChangePageBtn">
                        <input type="password" class="form-control" id="NewPassword" placeholder="" name="NewPassword">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="CheckNewPassword">確認新密碼:</label>
                    <div class="col-sm-7 ChangePageBtn">
                        <input type="password" class="form-control" id="CheckNewPassword" placeholder="" name="CheckNewPwd">
                    </div>
                    <div class="col-sm-1 required">
                        必填
                    </div>
                </div>
                <div id="info" class="col-sm-7 col-lg-offset-3">
                    <p id="infoMsg">@ViewData["ChangeState"]</p>
                </div>
                <div class="member_decoration"></div>
                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3" id="ChangePageBtn">
                        <input type="button" class="btn btn-default" id="ChangePwdCancelBtn" value="取消"/>
                        <input type="submit" class="btn btn-default" id="ChangePwdOkBtn" value="儲存" disabled/>                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /*使用者離開頁面前的提示*/
    var isChange = false;
    $(function () {
        $("input").change(function () {
            isChange = true;
            $(this).addClass("editing");
        });

        $(window).bind("beforeunload", function (e) {
            if (isChange || $(".editing").get().length > 0) {
                return "您確定要離開這個網頁嗎?";
            }
        })
    });

</script>