
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script src="~/js/mycookie.js"></script>
@*<link rel="stylesheet" href="~/css/MyStyle.css">*@
<style type="text/css">
    .selection_hidden {
        display: none;
    }
</style>
<div id="page">
    <div id="memberTab" class="container">
        <ul class="nav nav-tabs">

            @*登入成功才顯示*@
            @if (ViewData["LoginCheckResult"].ToString() == "true")
            {
                <li class="selection_hidden" id="addFindMomButton"><a href="~/PetMom/YCreateFindMom">新增</a></li>
                <li class="selection_hidden" id="linkMemberFindMomButton"><a href="~/PetMom/MemberFindMom">我的發佈</a></li>
            }
            <li class="" id="picks"><a href="#">搜尋</a></li>

        </ul>
    </div>
    <!-- 對話盒 (Detail)-->
    <div id="FindMomModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Detail</h4>
                </div>
                @*...function loadAndRefreshUI()...ajax_get_append......*@
                <div class="modal-body">
                    <div id="showImg2"></div>
                    <div id="showFindMom2" class='row'></div>
                </div>
                @*......................................................*@
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button"
                                id="okButton2"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> 確定
                        </button>
                        <button type="button"
                                id="cancelButton2"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /對話盒 end (Detail)-->
    @*.......................main.........................*@

    <div class="container">
        <div></div><br />

        @*搜尋(透過pick做removeClass('selection_hidden'))*@
        <div id="selection">
            @*....................col-sm-5+5+2....only(1)........................*@
            <div class="col-sm-5">
                <h3>
                    <label for="speciesTextBox">
                        <span class="glyphicon glyphicon-record"></span>
                        物種:
                    </label>

                    <input type="radio" name="Species" value="all" checked> 全部
                    <input type="radio" name="Species" value="狗"> 狗
                    <input type="radio" name="Species" value="貓"> 貓
                    <input type="radio" name="Species" value="其他"> 其他
                </h3>
                <h3>
                    <label for="sizeTextBox">
                        <span class="glyphicon glyphicon-record"></span>
                        體型:
                    </label>

                    <input type="radio" name="Size" value="all" checked> 全部
                    <input type="radio" name="Size" value="小型"> 小型
                    <input type="radio" name="Size" value="中型"> 中型
                    <input type="radio" name="Size" value="大型"> 大型
                </h3>
                <h3>
                    <label for="sexTextBox">
                        <span class="glyphicon glyphicon-record"></span>
                        性別:
                    </label>

                    <input type="radio" name="Sex" value="all" checked> 全部
                    <input type="radio" name="Sex" value="公"> 公
                    <input type="radio" name="Sex" value="母"> 母
                    <input type="radio" name="Sex" value="未知"> 未知
                </h3>
                <h3>
                    <label for="ageTextBox">
                        <span class="glyphicon glyphicon-record"></span>
                        年紀:
                    </label>

                    <input type="radio" name="Age" value="all" checked> 全部
                    <input type="radio" name="Age" value="成年"> 成年
                    <input type="radio" name="Age" value="幼年"> 幼年
                </h3>
                <h3>
                    <label for="hairColorTextBox">
                        <span class="glyphicon glyphicon-record"></span>
                        毛色:
                    </label>

                    <select class="" id="hairColorTextBox" name="HairColor">
                        <option value="all">全部</option>
                        <option value="白色">白色</option>
                        <option value="黑色">黑色</option>
                        <option value="棕色">棕色</option>
                        <option value="黃色">黃色</option>
                        <option value="虎斑">虎斑</option>
                        <option value="其他">其他</option>
                    </select>
                </h3>
            </div>
            <div class="col-sm-5">
                @*<h3>
                        <label for="findDateTextBox">
                              <span class="glyphicon glyphicon-time"></span>
                              走失日期
                        </label>

                        <input type="text"
                              id="findDateTextBox"
                              class="form-control"
                              placeholder="yyyy-mm-dd " />
                    </h3>*@

                @*載入County,Area,Road*@
                <h3>
                    <label for="findPlaceTextBox">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        走失地點
                    </label><br>
                    <select class="" id="findPlace1" name="FindPlace1">
                        <option value="all1">全部</option>
                    </select>
                    <select class="" id="findPlace2" name="FindPlace2">
                        <option value="all2">全部</option>
                    </select>
                    <select class="" id="findPlace3" name="FindPlace3">
                        <option value="all3">全部</option>
                    </select>
                    <input type="hidden"
                           id="findPlaceTextBoxS"
                           class="form-control"
                           placeholder="走失地點" />
                </h3>
            </div>

            <div class="col-sm-2">
                <button type="submit"
                        id="okButtonS"
                        class="btn btn-success">
                    開始搜尋
                </button>
                <button type="button"
                        id="cancelButtonS"
                        class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>

        @*主頁內容(get_FindMom)*@
        <div class="clearfix" id="findAnimalList">

        </div>
        
    </div>
    <div class="row section_items" id="findMomList">
        @*<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                <div class="panel panel-default">

                    <div class="panel-body"><a href="#"><img src="~/images/pic01.jpg" class="" style="" alt="Image"></a></div>
                    <div class="panel-footer">
                        <div class="panelFooterTitle">拾獲時間：2017-10-11</div>
                        <div class="panelFooterPrice">拾獲地點：台中市西屯區</div>
                    </div>
                </div>
            </div>*@
    </div>


    @*.......................debug.........................*@
    <div id="debug"></div>
    <input type="hidden" id="LoginCheck" value="@ViewData["LoginCheckResult"]" />
</div>
<script>

                //初始載入
                $(function () {
                    $('#selection').addClass('selection_hidden');
                    selectCountry();
                    //setTimeout(selectArea, 400);
                    //setTimeout(selectRoad, 500);

                    loadAndRefreshUI();     //FindMom首頁載入empty,get

                    //setCookie("uid", 3, 1); //假設會員權限

                })

                //載入County
                function selectCountry() {

                    $.ajax({
                        url: "/Street/County",
                        type: "Get",
                        dataType: "json",
                        success: function (data) {
                            $("#findPlace1").empty();
                            var sRows = '<option value="all1">全部</option>';
                            for (i = 0; i < data.length; i++) {
                                sRows += "<option value='" + data[i] + "'>" + data[i] + "</option>"
                            }
                            $("#findPlace1").append(sRows);

                            //alert(data[0]);
                            //$("#debug").text(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }
                    });

                }

                //載入Area,含code
                function selectArea() {

                    $.ajax({
                        url: "/Street/Area",
                        type: "POST",
                        data: {
                            city: $("#findPlace1 option:selected").val()
                            //city: "台中市"
                        },
                        success: function (data) {
                            $("#findPlace2").empty();
                            var sRows = '<option value="all2">全部</option>';
                            $("#findPlace2").append(sRows);
                            $.each(data, function (index, obj) {

                                sRows = "<option value='" + obj.mailcode + "'>" + obj.country + "</option>"

                                $("#findPlace2").append(sRows);

                            })

                            //alert(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }

                    });
                }

                //載入Road
                function selectRoad() {

                    $.ajax({
                        url: "/Street/Road",
                        type: "POST",
                        data: {
                            code: $("#findPlace2 option:selected").val()
                            //code: "100"
                        },
                        success: function (data) {
                            $("#findPlace3").empty();
                            var sRows = '<option value="all3">全部</option>';
                            $("#findPlace3").append(sRows);
                            $.each(data, function (index, obj) {

                                sRows = "<option value='" + obj.id + "'>" + obj.road + "</option>"

                                $("#findPlace3").append(sRows);

                            })

                            //alert(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }

                    });
                }

                //改變FindPlace1觸動2.3
                $("#findPlace1").change(function () {
                    $("#findPlace3").removeClass("file_hidden");
                    selectArea();
                    //setTimeout('$("#findPlaceTextBox").val($("#findPlace1").val() + $("#findPlace2 option:selected").text() + $("#findPlace3 option:selected").text())', 500);
                    setTimeout(selectRoad,200);
                });

                //改變FindPlace2觸動3
                $("#findPlace2").change(function () {
                    selectRoad();
                    //setTimeout('$("#findPlaceTextBox").val($("#findPlace1").val() + $("#findPlace2 option:selected").text() + $("#findPlace3 option:selected").text())', 500);
                });

                //改變FindPlace3,(目前無內容)
                $("#findPlace3").change(function () {
                    //$("#findPlaceTextBox").val($("#findPlace1").val() + $("#findPlace2 option:selected").text() + $("#findPlace3 option:selected").text());
                });


                //FindMom首頁載入empty,get
                function loadAndRefreshUI() {

                    $("#findAnimalList").empty();

                    //FindMom首頁載入get
                    $.ajax({
                        type: "get",
                        url: '/api/FindMoms',
                        dataType: "json",
                        success: function (data) {
                            debug = data;
                            //alert(data);
                            var count = 0;

                            //FindMom首頁載入function1:append
                            $("#findMomList").empty();
                            $.each(data, function (index, obj) {
                                //alert(count);
                                count += 1;
                                var Rows1 = "<a id='petPhoto'><img src='../images/" + obj.PetPhoto + "'  class='petPhoto' alt='Pet Photo'></a>";
                                //var Rows1 = '<a><img src="../images/' + obj.PetPhoto + '" id="petPhoto" class="" style="" alt="Image"></a>';
                                var Rows21 = '拾獲時間：' + obj.FindDate;
                                var Rows22 = '拾獲地點：' + obj.FindPlace1 + obj.FindPlace2 + obj.FindPlace3;

                                var $div00 = $("<div></div>").addClass("col-xs-3 col-sm-3 col-md-3 col-lg-3");
                                var $div0 = $("<div></div>").addClass("panel panel-default");
                                var $div1 = $("<div></div>").addClass("panel-body");
                                $div1.append(Rows1);
                                //alert(count);

                                //........................
                                var $div2 = $("<div></div>").addClass("panel-footer");

                                var $div21 = $("<div></div>").addClass("panelFooterTitle");
                                $div21.append(Rows21);

                                var $div22 = $("<div></div>").addClass("panelFooterPrice");
                                $div22.append(Rows22);

                                $div21.appendTo($div2);
                                $div22.appendTo($div2);
                                //.............................
                                $div1.appendTo($div0);
                                $div2.appendTo($div0);
                                $div0.appendTo($div00);
                                $div00.appendTo("#findMomList");

                            })

                            //FindMom首頁載入function1:append......放棄版1
                            //$.each(data, function (index, obj) {
                            //    count += 1;

                            //    var tRows1 = "<div><h4>拾獲日期:" + obj.FindDate + "</h4><p style='margin-left:10%';>[" + obj.FindPlace1 + obj.FindPlace2 + obj.FindPlace3 + "]</p></div>";
                            //    //var tRows2 = "<p style='margin-left:10%';>[" + obj.FindPlace1 + obj.FindPlace2 + obj.FindPlace3 + "]</p>";
                            //    var sRows = "<div><img src='../images/" + obj.PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Pet Photo'></div>"

                            //    var $div = $("<div></div>")
                            //                .addClass((count % 4 == 0) ? "one-third-last" : "")
                            //                .addClass((count % 3 == 0) ? "test3last" : "test3")
                            //                .addClass((count % 2 == 0) ? "one-third even mobile-collapse" : "one-third odd mobile-collapse");

                            //    $div.append(tRows1);
                            //    //$div.append(tRows2);
                            //    $div.append(sRows);

                            //    $div.appendTo("#findAnimalList");

                            //    //alert(count);
                            //})

                            //FindMom首頁載入function2:petPhoto_click(要加權限,暫用ViewData代替)
                            $(".petPhoto").on("click", function (e) {
                                //登入成功才會有反應(顯示)
                                if ($("#LoginCheck").val()=="true") {
                                    var iIndex = $(this).parent().parent().parent().parent().index();
                                    //var iIndex = $(this).closest("div").index();
                                    //alert(iIndex);

                                    var sRowsImg = "<img src='../images/" + debug[iIndex].PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Pet Photo' width='50%' height='40%' style='margin-left:25%;'>"
                                    $("#showImg2").empty();
                                    $("#showImg2").append(sRowsImg);

                                    var sRowsFindMom =
                                        "<div class='col-sm-12'></div>"
                                        + "<div class='col-sm-2'></div>"
                                        + "<div class='col-sm-3'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>物種:" + debug[iIndex].Species + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>體型:" + debug[iIndex].Size + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>性別:" + debug[iIndex].Sex + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>年紀:" + debug[iIndex].Age + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>毛色:" + debug[iIndex].HairColor + "</h4>"
                                        + "</div>"
                                        + "<div class='col-sm-7'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-time'></span>走失日期:" + debug[iIndex].FindDate + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-map-marker'></span>走失地點:" + debug[iIndex].FindPlace1 + debug[iIndex].FindPlace2 + debug[iIndex].FindPlace3 + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-user'></span>聯絡人:" + debug[iIndex].ContactMan + "</h4>"
                                        + "<h4>" + "&nbsp;&nbsp;&nbsp;聯絡人性別:" + debug[iIndex].ContactSex + "</h4>"
                                        + "<h4>" + "&nbsp;&nbsp;&nbsp;聯絡人電話:" + debug[iIndex].ContactTel + "</h4>"
                                        + "</div>"
                                        + "<div class='col-sm-7'>&nbsp;</div>"
                                        + "<div class='col-sm-2'></div>"
                                        + "<div class='col-sm-6'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-bullhorn'></span>備註:" + debug[iIndex].Characteristic + "</h4>"
                                        + "</div>"
                                    $("#showImg2").append(sRowsFindMom);

                                    $("#FindMomModal2").modal({ backdrop: "static" });
                                }
                            })

                        },
                        error: function () {
                            alert("error");
                        }
                    });

                }

                //(開始搜尋)Button
                $("#picks").click(function () {
                    $('#selection').removeClass('selection_hidden');
                })

                //搜尋取消Button
                $("#cancelButtonS").click(function () {
                    $('#selection').addClass('selection_hidden');
                    loadAndRefreshUI();
                })

                //搜尋確認Button(petPhoto_click要改)
                $("#okButtonS").click(function () {

                    $("#findAnimalList").empty();

                    //搜尋get
                    //http://localhost:51664/api/FindMoms?species=貓&size=中型&sex=母&hairColor=白色&age=成年&findPlace1=新竹市&findPlace2=北區&findPlace3=大同路
                    $.ajax({
                        type: "get",
                        url: '/api/FindMoms?'
                            + 'species=' + $('input[name=Species]:checked').val()
                            + '&size=' + $('input[name=Size]:checked').val()
                            + '&sex=' + $('input[name=Sex]:checked').val()
                            + '&hairColor=' + $("#hairColorTextBox option:selected").val()
                            + '&age=' + $('input[name=Age]:checked').val()
                            + '&findPlace1=' + $("#findPlace1 option:selected").val()
                            + '&findPlace2=' + $("#findPlace2 option:selected").text()
                            + '&findPlace3=' + $("#findPlace3 option:selected").text(),
                        dataType: "json",
                        success: function (data) {
                            debug = data;
                            var count = 0;

                            //搜尋get後function1:append
                            $("#findMomList").empty();
                            $.each(data, function (index, obj) {
                                //alert(count);
                                count += 1;
                                var Rows1 = "<a id='petPhoto'><img src='../images/" + obj.PetPhoto + "'  class='petPhoto' alt='Pet Photo'></a>";
                                //var Rows1 = '<a><img src="../images/' + obj.PetPhoto + '" id="petPhoto" class="" style="" alt="Image"></a>';
                                var Rows21 = '拾獲時間：' + obj.FindDate;
                                var Rows22 = '拾獲地點：' + obj.FindPlace1 + obj.FindPlace2 + obj.FindPlace3;

                                var $div00 = $("<div></div>").addClass("col-xs-3 col-sm-3 col-md-3 col-lg-3");
                                var $div0 = $("<div></div>").addClass("panel panel-default");
                                var $div1 = $("<div></div>").addClass("panel-body");
                                $div1.append(Rows1);
                                //alert(count);

                                //........................
                                var $div2 = $("<div></div>").addClass("panel-footer");

                                var $div21 = $("<div></div>").addClass("panelFooterTitle");
                                $div21.append(Rows21);

                                var $div22 = $("<div></div>").addClass("panelFooterPrice");
                                $div22.append(Rows22);

                                $div21.appendTo($div2);
                                $div22.appendTo($div2);
                                //.............................
                                $div1.appendTo($div0);
                                $div2.appendTo($div0);
                                $div0.appendTo($div00);
                                $div00.appendTo("#findMomList");

                            })

                            //搜尋get後function2:petPhoto_click(要加權限,暫用ViewData代替)
                            $(".petPhoto").on("click", function (e) {
                                //登入成功才顯示
                                if ($("#LoginCheck").val() == "true") {

                                    var iIndex = $(this).parent().parent().parent().parent().index();
                                    //var iIndex = $(this).closest("div").index();
                                    //alert(iIndex);
                                    var sRowsImg = "<img src='../images/" + debug[iIndex].PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Pet Photo' width='50%' height='40%' style='margin-left:25%;'>"
                                    $("#showImg2").empty();
                                    $("#showImg2").append(sRowsImg);

                                    var sRowsFindMom =
                                        "<div class='col-sm-12'></div>"
                                        + "<div class='col-sm-2'></div>"
                                        + "<div class='col-sm-3'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>物種:" + debug[iIndex].Species + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>體型:" + debug[iIndex].Size + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>性別:" + debug[iIndex].Sex + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>年紀:" + debug[iIndex].Age + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-record'></span>毛色:" + debug[iIndex].HairColor + "</h4>"
                                        + "</div>"
                                        + "<div class='col-sm-7'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-time'></span>走失日期:" + debug[iIndex].FindDate + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-map-marker'></span>走失地點:" + debug[iIndex].FindPlace1 + debug[iIndex].FindPlace2 + debug[iIndex].FindPlace3 + "</h4>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-user'></span>聯絡人:" + debug[iIndex].ContactMan + "</h4>"
                                        + "<h4>" + "&nbsp;&nbsp;&nbsp;聯絡人性別:" + debug[iIndex].ContactSex + "</h4>"
                                        + "<h4>" + "&nbsp;&nbsp;&nbsp;聯絡人電話:" + debug[iIndex].ContactTel + "</h4>"
                                        + "</div>"

                                        + "<div class='col-sm-7'>&nbsp;</div>"
                                        + "<div class='col-sm-2'></div>"
                                        + "<div class='col-sm-6'>"
                                        + "<h4>" + "<span class='glyphicon glyphicon-bullhorn'></span>備註:" + debug[iIndex].Characteristic + "</h4>"
                                        + "</div>"
                                    $("#showImg2").append(sRowsFindMom);

                                    $("#FindMomModal2").modal({ backdrop: "static" });
                                }
                            })

                        },
                        error: function () {
                            alert("error");
                        }
                    });

                })


                //新增
                $("#addFindMomButton").click(function () {
                    currentIndex = -1;
                    setCookie("FindMomBtn", currentIndex, 1);
                    window.location.href = 'YCreateFindMom';

                })

                //顯示Detail後的okButton
                $("#okButton2").click(function () {
                        $("#FindMomModal2").modal("hide");
                })

</script>

