@*post . put function無執行(error)*@
@using FoundCity.Models;
@model FindPet
@{
    ViewBag.Title = "YCreateFindPet";
    //Layout = "~/Views/Shared/_LayoutMember.cshtml";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

@*行事曆.accordion*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

@*cookies*@
<script type="text/javascript" src="~/js/mycookie.js"></script>

<link rel="stylesheet" href="~/css/MyStyle.css">



@*.................測試用function..................................*@
<div><button id="testbtn">testbtn</button><button id="testbtn2">testbtn2</button></div>
<div id="debug"></div>
@*.................................................................*@



@*...................main..........................*@
<div class="container">
    <br />
    <div><button type="button" id="addFindPetButton" class="btn btn-default">新增</button></div>

    <div class="row" id="findPetList">

        @*<div class="col-sm-3">
                <img src="~/image/p1.jpg" class="img-thumbnail" alt="Cinque Terre" width="720" height="472">

                <br />2017-11-10<br />
                台北市內湖區舊宗路<br /><br />
            </div>*@

    </div>
    @*test*@
    @*<span class="pull-right"><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>*@
    <form method="post" action="" enctype="multipart/form-data">
        <div id="accordion">
            <h4 id="acc_header">@((Request.Cookies["findPetBtn"].Value == "-1") ? "新增" : "修改")</h4>
            <div>
                <p>
                    @*....................col-sm-r2........1.............................*@

                    <div class="col-sm-2 pull-right">
                        <img id='petphoto' class='img-thumbnail petphoto' alt='' width='120' height='180'>
                        <h3 style="font-size:medium">
                            <label for="PetPhoto">
                                &nbsp;<span class="glyphicon glyphicon-paperclip"></span>
                                上傳圖片<input type="file" id="PetPhoto" name="PetPhoto" class="form-control file_hidden" />
                            </label>

                            <input type="hidden"
                                   id="petPhotoTextBox"
                                   class="form-control"
                                   @*value="@TempData["PetPhoto"]"*@
                                   placeholder="請輸入檔名" />

                        </h3>
                    </div>

                    @*....................col-sm-5+5+(r2)........1.............................*@

                    <div class="col-sm-5">                        
                        <h3>
                            <label for="speciesTextBox">
                                <span class="glyphicon glyphicon-record"></span>
                                物種:
                            </label>

                            <input type="radio" name="Species" value="狗" checked> 狗
                            <input type="radio" name="Species" value="貓"> 貓
                            <input type="radio" name="Species" value="其他"> 其他
                        </h3>
                        
                        <h3>
                            <label for="sizeTextBox">
                                <span class="glyphicon glyphicon-record"></span>
                                體型:
                            </label>

                            <input type="radio" name="Size" value="小型" checked> 小型
                            <input type="radio" name="Size" value="中型"> 中型
                            <input type="radio" name="Size" value="大型"> 大型
                        </h3>
                        
                        <h3>
                            <label for="sexTextBox">
                                <span class="glyphicon glyphicon-record"></span>
                                性別:
                            </label>

                            <input type="radio" name="Sex" value="公" checked> 公
                            <input type="radio" name="Sex" value="母"> 母
                            <input type="radio" name="Sex" value="未知"> 未知
                        </h3>
                        
                        <h3>
                            <label for="ageTextBox">
                                <span class="glyphicon glyphicon-record"></span>
                                年紀:
                            </label>

                            <input type="radio" name="Age" value="成年" checked> 成年
                            <input type="radio" name="Age" value="幼年"> 幼年
                        </h3>
                        
                        <h3>
                            <label for="hairColorTextBox">
                                <span class="glyphicon glyphicon-record"></span>
                                毛色:
                            </label>

                            <select class="" id="hairColorTextBox" name="HairColor">
                                <option value="白色">白色</option>
                                <option value="黑色">黑色</option>
                                <option value="棕色">棕色</option>
                                <option value="黃色">黃色</option>
                                <option value="虎斑">虎斑</option>
                                <option value="其他">其他</option>
                            </select>
                        </h3>
                    </div>

                    <div class="col-sm-5">
                        <h3>
                            <label for="lostDateTextBox">
                                <span class="glyphicon glyphicon-time"></span>
                                走失日期
                            </label>

                            <input type="text"
                                   id="lostDateTextBox"
                                   class="form-control"
                                   placeholder="yyyy-mm-dd " />
                        </h3>
                        
                        <h3>
                            <label for="lostPlaceTextBox">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                走失地點
                            </label><br>
                            <select class="" id="lostPlace1" name="LostPlace1">
                                <option value="台北市">台北市</option>
                            </select>
                            <select class="" id="lostPlace2" name="LostPlace2">
                                <option value="100">中正區</option>
                            </select>
                            <select class="file_hidden" id="lostPlace3" name="LostPlace3">
                                <option value="road1">road1</option>
                            </select>
                            <input type="text"
                                   id="lostPlaceTextBox"
                                   class="form-control"
                                   placeholder="走失地點" />
                        </h3>                        
                    </div>              

                    @*....................col-sm-5+5+2............2.........................*@

                    <div class="col-sm-5">                        
                        <h3 style="color:rebeccapurple">
                            <label for="contactManTextBox">
                                <span class="glyphicon glyphicon-user"></span>
                                聯絡人
                            </label>
                        </h3>

                        <div style="margin-left:30%;">
                            <h3>
                                <input type="text"
                                       id="contactManTextBox"
                                       class="form-control"
                                       placeholder="聯絡人" />
                            </h3>
                            
                            <h3>
                                <label for="contactSexTextBox">
                                    @*<span class="glyphicon glyphicon-time"></span>*@
                                    性別:
                                </label><br>

                                <input type="radio" name="ContactSex" value="男" checked> 男
                                <input type="radio" name="ContactSex" value="女"> 女
                            </h3>
                            
                            <h3>
                                <label for="contactTelTextBox">
                                    @*<span class="glyphicon glyphicon-time"></span>*@
                                    電話:
                                </label>

                                <input type="text"
                                       id="contactTelTextBox"
                                       class="form-control"
                                       placeholder="xx-xxxxxxx" />
                            </h3>                            
                        </div>
                    </div>

                    <div class="col-sm-5">                       
                        <h3>
                            <label for="characteristicTextBox">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                備註
                            </label>
                            <textarea cols="50" rows="4"
                                      id="characteristicTextBox"
                                      class="form-control"
                                      placeholder="輸入你想要寫的內容..."></textarea>
                            @*<input type="text"
                                id="characteristicTextBox"
                                class="form-control"
                                placeholder="備註" />*@
                        </h3>
                    </div>

                    <div class="col-sm-2"></div>

                    @*....................col-sm-r2........2.............................*@
                    
                    <div class="pull-right col-sm-2">
                        <button type="submit"
                                id="okButton"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> 確定
                        </button>
                        <button type="button"
                                id="cancelButton"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> 取消
                        </button>    
                    </div>

                </p>
            </div>
        </div>
    </form>
</div>


<div data-role="content">
    <table id="resultTable" data-role="table" data-mode="columntoggle" class="table-stroke"></table>
</div>

<script>
    $("#lostDateTextBox").datepicker({ dateFormat: "yy-mm-dd" });

    //.................測試用function....up..............................
    $("#testbtn").click(function () {

        //alert(debug.LostPlace2);


        $("#debug").text($("#lostPlace2").val());
        $("#lostPlace1").val(debug.LostPlace1);
        selectArea();
        //setTimeout('$("#lostPlace2").val("802");', 200);
        setTimeout('$("#lostPlace2").val("802");', 200);
        setTimeout(selectRoad, 200);
        setTimeout('$("#lostPlace3").val(debug.LostPlace3);', 500);

    })

    $("#testbtn2").click(function () {


        $("#lostPlace1").val(debug.LostPlace1);
        $("#lostPlace2").empty();
        var sRows2 = "<option>" + debug.LostPlace2 + "</option>"
        $("#lostPlace2").append(sRows2);

        $("#lostPlace3").empty();
        var sRows3 = "<option value='" + debug.LostPlace3 + "'>" + debug.LostPlace3 + "</option>"
        $("#lostPlace3").append(sRows3);

        $("#debug").text($("#lostPlace3 option:selected").val() + $("#lostPlace3 option:selected").text());

    })

    //................測試用function.....down...........................

    //已get Country,(選Country),(get Area,選Area),(get Road,選Road);暫時用setTimeout,再研究改jquery callback
    function getCAR() {
        // Q. fail:debug.LostPlace2應傳給$("#lostPlace2")的text,無法改(只能用val?)
        //$("#lostPlace1").val(debug.LostPlace1);
        //selectArea();
        //setTimeout('$("#lostPlace2").val("800");', 200);
        //setTimeout(selectRoad, 200);
        //setTimeout('$("#lostPlace3").val(debug.LostPlace3);', 500);

        //edit用,直接給值,無選單功能
        $("#lostPlace1").val(debug.LostPlace1);
        $("#lostPlace2").empty();
        var sRows2 = "<option>" + debug.LostPlace2 + "</option>"
        $("#lostPlace2").append(sRows2);

        $("#lostPlace3").empty();
        var sRows3 = "<option value='" + debug.LostPlace3 + "'>" + debug.LostPlace3 + "</option>"
        $("#lostPlace3").append(sRows3);

        $("#debug").text($("#lostPlace3 option:selected").val() + $("#lostPlace3 option:selected").text());
    }

                $(function () {
                    //alert(getCookie("findPetBtn"));

                    //selectRoad();
                    //selectArea();
                    //selectCountry();

                    if (getCookie("findPetBtn") == -1) {
                        selectRoad();
                        selectArea();
                        selectCountry();
                        $("#lostPlace3").removeClass("file_hidden");
                    }

                    if (getCookie("findPetBtn") >= 0) {
                        selectCountry();
                        setTimeout(getCAR, 500);
                        loadAndRefreshUI();
                    }

                    //$("#debug").text("OK");
                    $("#accordion").accordion({ header: "h4" });


                    $('input[type="file"]').change(function (e) {
                        var fileName = e.target.files[0].name;
                        $("#petPhotoTextBox").val(fileName);
                        $("#petPhotoLabel").text(fileName);
                        //alert('The file "' + fileName + '" has been selected.');
                        //預覽
                        readURL(this);

                    });

                })

                //今天日期yyyy-mm-dd
                function mydate() {
                    var today = new Date();
                    //var todayformat = today.toISOString().substring(0, 10);
                    var todayformat = today.toISOString().slice(0, 10);
                    return todayformat;
                }

                //預覽
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#petphoto').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);

                    }
                }

                //$("#imgInp").change(function () {
                //    readURL(this);
                //});


                //載入County
                function selectCountry() {
                    $("#lostPlace2").empty();
                    $.ajax({
                        url: "/Street/County",
                        type: "Get",
                        dataType: "json",
                        success: function (data) {
                            $("#lostPlace1").empty();
                            var sRows = "";
                            for (i = 0; i < data.length; i++) {
                                sRows += "<option value='" + data[i] + "'>" + data[i] + "</option>"
                            }
                            $("#lostPlace1").append(sRows);

                            //alert(data[0]);
                            //$("#debug").text(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }
                    });

                }


                //載入Area,含code
                function selectArea() {
                    //btnClean();
                    $.ajax({
                        url: "/Street/Area",
                        type: "POST",
                        data: {
                            city:$("#lostPlace1 option:selected").val()
                            //city: "台中市"
                        },
                        success: function (data) {
                            $("#lostPlace2").empty();
                            $.each(data, function (index, obj) {
                                var sRows = "";

                                sRows += "<option value='" + obj.mailcode + "'>" + obj.country + "</option>"

                                $("#lostPlace2").append(sRows);

                            })

                            //alert(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }

                    });
                }

                //載入Road
                function selectRoad() {
                    //btnClean();
                    $.ajax({
                        url: "/Street/Road",
                        type: "POST",
                        data: {
                            code: $("#lostPlace2 option:selected").val()
                            //code: "100"
                        },
                        success: function (data) {
                            $("#lostPlace3").empty();
                            $.each(data, function (index, obj) {
                                var sRows = "";

                                sRows += "<option value='" + obj.road + "'>" + obj.road + "</option>"

                                $("#lostPlace3").append(sRows);

                            })

                            //alert(JSON.stringify(data));
                        },
                        error: function (error) {
                            document.write(error.responseText);
                        }

                    });
                }

                //$("#lostPlace1").click(function () {
                //    selectCountry();
                //});
                $("#lostPlace1").change(function () {
                    $("#lostPlace3").removeClass("file_hidden");
                    selectArea();
                    setTimeout("selectRoad()", 200);
                    setTimeout('$("#lostPlaceTextBox").val($("#lostPlace1").val() + $("#lostPlace2 option:selected").text() + $("#lostPlace3").val())', 500);
                    //selectRoad();
                });

                $("#lostPlace2").change(function () {
                    selectRoad();
                    setTimeout('$("#lostPlaceTextBox").val($("#lostPlace1").val() + $("#lostPlace2 option:selected").text() + $("#lostPlace3").val())', 500);
                });

                $("#lostPlace3").change(function () {
                    $("#lostPlaceTextBox").val($("#lostPlace1").val() + $("#lostPlace2 option:selected").text() + $("#lostPlace3").val());
                });

                //for edit: 使第三欄出現
                var sp2 = 0;
                $("#lostPlace2").click(function () {
                    //if (getCookie("findPetBtn") >= 0) {
                    //    selectCountry();
                    //    setTimeout(getCAR, 500);
                    //    loadAndRefreshUI();
                    //}

                    if (sp2 == 0) {
                        sp2++;
                        selectArea();
                        $("#lostPlace3").removeClass("file_hidden");
                        setTimeout("selectRoad()", 200);
                        setTimeout('$("#lostPlaceTextBox").val($("#lostPlace1").val() + $("#lostPlace2 option:selected").text() + $("#lostPlace3").val())', 500);

                        //alert(sp2);
                    }
                });

                function refreshNewsUI() {
                    //$("#accordion").empty();
                }

                function loadAndRefreshUI() {

                    //$("#accordion").empty();
                    //var temp = getCookie("findPetBtn");
                    debugger;

                    $.ajax({
                        type: "get",
                        url: '/api/FindPets/' + getCookie("findPetBtn"),
                        //url: '/api/FindPets/' + temp,
                        dataType: "json",
                        success: function (data) {
                            debug = data;

                            $("#petphoto").attr('src', '../images/' + data.PetPhoto);
                            $("#petPhotoLabel").text(data.PetPhoto);
                            $("#petPhotoTextBox").val(data.PetPhoto);

                            $('input[name=Species][value="' + data.Species + '"]').prop('checked', true);
                            $('input[name=Size][value="' + data.Size + '"]').prop('checked', true);
                            $('input[name=Age][value="' + data.Age + '"]').prop('checked', true);
                            $('input[name=Sex][value="' + data.Sex + '"]').prop('checked', true);

                            $("#hairColorTextBox").val(data.HairColor);
                            $("#characteristicTextBox").val(data.Characteristic);


                            $("#lostDateTextBox").val(data.LostDate);


                            //來不及get,移到$(function () {})一開始就區分new/edit,(edit就做get^3,+get給值)
                            //$('#lostPlace1 option[value="' + data.LostPlace1 + '"]').prop('selected', true);
                            //$('#lostPlace2 option[value="' + '831' + '"]').prop('selected', true);
                            //$('#lostPlace3 option[value="' + data.LostPlace3 + '"]').prop('selected', true);

                            $("#lostPlaceTextBox").val(data.LostPlace1 + data.LostPlace2 + data.LostPlace3);
                            
                            $('input[name=ContactSex][value="' + data.ContactSex + '"]').prop('checked', true);
                            $("#contactManTextBox").val(data.ContactMan);
                            $("#contactTelTextBox").val(data.ContactTel);
                        },
                        error: function () {
                            //alert("error");
                        }
                    });

                }

                //新增
                $("#addFindPetButton").click(function () {

                    currentIndex = -1;
                    setCookie("findPetBtn", currentIndex, 1);
                    $("#acc_header").empty();
                    $("#acc_header").append('<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>'+'新增');
                    alert(currentIndex);

                    $("#petphoto").empty();
                    $("#showImg").empty();
                    $("#petphoto").attr('src', '');
                    $("#petPhotoTextBox").val("");

                    $("#characteristicTextBox").val("");

                    $("#lostDateTextBox").val("");
                    $("#lostPlaceTextBox").val("");
                    $("#contactManTextBox").val("");
                    $("#contactTelTextBox").val("");

                })

                $("#cancelButton").click(function () {
                    window.location.href = 'MemberFindPet';
                })

                //確認(編輯/新增)

                $("#okButton").click(function () {

                    if (getCookie("findPetBtn") >= 0) { // edit
                    //    //newsList[currentIndex].title = $("#titleTextBox").val();
                    //    //newsList[currentIndex].ymd = $("#ymdTextBox").val();
                    //    //refreshNewsUI();
                        alert("test_updateData:(" + $("#lostPlace2 option:selected").text() + "," + $("#lostPlace3").val() + ")");
                        var updateData = {

                            PetId: getCookie("findPetBtn"),

                            PetPhoto: $("#petPhotoTextBox").val(),
                            CreatorId: getCookie("uid"),
                            Species: $('input[name=Species]:checked').val(),
                            Size: $('input[name=Size]:checked').val(),
                            Age: $('input[name=Age]:checked').val(),
                            HairColor: $("#hairColorTextBox option:selected").text(),
                            Sex: $('input[name=Sex]:checked').val(),
                            Characteristic: $("#characteristicTextBox").val(),


                            LostDate: $("#lostDateTextBox").val(),
                            LostPlace1: $("#lostPlace1").val(),
                            LostPlace2: $("#lostPlace2 option:selected").text(),
                            LostPlace3: $("#lostPlace3").val(),
                            ContactSex: $('input[name=ContactSex]:checked').val(),
                            ContactMan: $("#contactManTextBox").val(),
                            ContactTel: $("#contactTelTextBox").val(),

                            CreateDate: debug.CreateDate,
                            PlaceId: debug.PlaceId,
                            State: 1
                        };

                    //    alert(debug[currentIndex].PetID);
                        alert(JSON.stringify(updateData));
                    //    //alert(data);

                        $.ajax({
                            url: '/api/FindPets/' + getCookie("findPetBtn"),
                            type: 'PUT',
                            data: JSON.stringify(updateData),
                            //dataType:'JSON',
                            //data: updateData,
                            contentType: "application/json;charset=utf-8",

                            //function無執行(error)
                            success: function () {
                                //loadAndRefreshUI();
                                //alert("edit Done");
                                window.location.href = 'MemberFindPet';
                            },
                            error: function (response) {
                                //document.write(response.responseText);
                            }
                        });

                        alert("end_edit");

                    //    //$("#findPetModal").modal("hide");
                    //    //showToast("Information", "Edit Index = " + currentIndex);

                    }

                    else {
                        // new
                        //alert("new");


                        var newItem = {

                            PetPhoto: $("#petPhotoTextBox").val(),
                            CreatorId: getCookie("uid"),
                            Species: $('input[name=Species]:checked').val(),
                            Size: $('input[name=Size]:checked').val(),
                            Age: $('input[name=Age]:checked').val(),
                            HairColor: $("#hairColorTextBox option:selected").text(),
                            Sex: $('input[name=Sex]:checked').val(),
                            Characteristic: $("#characteristicTextBox").val(),


                            LostDate: $("#lostDateTextBox").val(),
                            LostPlace1: $("#lostPlace1").val(),
                            LostPlace2: $("#lostPlace2 option:selected").text(),
                            LostPlace3: $("#lostPlace3").val(),
                            ContactSex: $('input[name=ContactSex]:checked').val(),
                            ContactMan: $("#contactManTextBox").val(),
                            ContactTel: $("#contactTelTextBox").val(),

                            //先亂設

                            CreateDate: mydate(),
                            PlaceId: $("#lostPlace2").val(),
                            State: 1

                        };
                        //alert($("#petPhotoTextBox").val());

                        $.ajax({
                            url: '/api/FindPets',
                            type: 'POST',
                            data: JSON.stringify(newItem),
                            contentType: "application/json;charset=utf-8",

                            //function無執行(error)
                            success: function (data) {
                                //refreshNewsUI()
                                //console.log("new1");
                                //alert("success new");
                                window.location.href = 'MemberFindPet';
                            },
                            error: function () {
                                //alert("error error");
                                //console.log("error");
                            }
                        });

                        alert("already_new");

                    }
                })


</script>
