
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindPet</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/jquery.toast.css">
    
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.toast.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
    @*<script src="https://code.jquery.com/jquery-1.9.0.js"></script>*@
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

    <script src="~/js/mycookie.js"></script>

    <style type="text/css">
        /*使用navbar-fixed-top會浮起來(與absolute類似效果).用padding修正*/

        body {
            padding-top: 100px;
            background-color: #FFFAF0;
        }

        .modal_img {
            margin-top: -35px;
        }
    </style>
</head>
<body>
    <!--........................B..A..N..E..R............................................-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">動物&nbsp;&nbsp;Found&nbsp;城市</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="MemberFindPet">Home</a></li>
                    <li><a href="FindPet">FindPet</a></li>
                    <li><a href="MemberFindPet">FindMama</a></li>
                    <li><a href="#">Adoption</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">vip</a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Talking</a></li>
                        </ul>
                    </li>
                </ul>

                @*<ul class="nav navbar-nav navbar-right">
                @if (Request.Cookies["nickName"] == null)
                {
                    <li><a href="#" id="login">login</a></li>
                }
                else
                {
                    <li><a href="~/Home/Logout" id="logout">logout</a></li>
                }
                <li><a href="~/Home/Register" id="register">register</a></li>
            </ul>*@

            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <!--................................................................-->
    <!-- 對話盒 (新增/修改)-->
    <div id="findPetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>新增/修改</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="petPhotoTextBox">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                上傳圖片
                            </label>

                            <input type="text"
                                   id="petPhotoTextBox"
                                   class="form-control"
                                   placeholder="請輸入檔名" />
                            <div id="showImg"></div>
                            @*<input type="file" name="imageName" class="form-control" />*@
                        </div>

                        @*<div class="form-group">
                                <label for="speciesTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    物種
                                </label>
                                <input type="text"
                                       id="speciesTextBox"
                                       class="form-control"
                                       placeholder="請輸入貓/狗" />
                            </div>

                            <div class="form-group">
                                <label for="varietyTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    品種
                                </label>
                                <input type="text"
                                       id="varietyTextBox"
                                       class="form-control"
                                       placeholder="請輸入品種">
                            </div>

                            <div class="form-group">
                                <label for="characteristicTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    特徵
                                </label>
                                <input type="text"
                                       id="characteristicTextBox"
                                       class="form-control"
                                       placeholder="請簡述特徵" />
                            </div>

                            <div class="form-group">
                                <label for="createDateTextBox">
                                    <span class="glyphicon glyphicon-time"></span>
                                    建立日期
                                </label>
                                <input type="text"
                                       id="createDateTextBox"
                                       class="form-control"
                                       placeholder="yyyy-mm-dd 例如: 2017-05-20" />
                            </div>*@

                        <div class="form-group">
                            <label for="lostDateTextBox">
                                <span class="glyphicon glyphicon-time"></span>
                                走失日期
                            </label>
                            <input type="text"
                                   id="lostDateTextBox"
                                   class="form-control"
                                   placeholder="yyyy-mm-dd 例如: 2017-05-20" />
                        </div>

                        <div class="form-group">
                            <label for="lostPlaceTextBox">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                走失地點
                            </label>
                            <input type="text"
                                   id="lostPlaceTextBox"
                                   class="form-control"
                                   placeholder="走失地點" />
                        </div>

                        @*<div class="form-group">
                                <label for="contactManTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    聯絡人
                                </label>
                                <input type="text"
                                       id="contactManTextBox"
                                       class="form-control"
                                       placeholder="請輸入聯絡人" />
                            </div>

                            <div class="form-group">
                                <label for="contactTelTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    聯絡電話
                                </label>
                                <input type="text"
                                       id="contactTelTextBox"
                                       class="form-control"
                                       placeholder="請輸入聯絡電話" />
                            </div>

                            <div class="form-group">
                                <label for="contactEmailTextBox">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    聯絡email
                                </label>
                                <input type="text"
                                       id="contactEmailTextBox"
                                       class="form-control"
                                       placeholder="請輸入聯絡email" />
                            </div>*@

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button"
                                id="okButton"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> 確定
                        </button>
                        <button type="button"
                                id="cancelButton"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /對話盒 end (新增/修改)-->
    <!-- 對話盒 (刪除)-->
    <div id="findPetModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>刪除確認</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="col-sm-4">
                                <div class="form-group">

                                    <div id="showImg2"></div>
                                    @*<input type="file" name="imageName" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">&nbsp;</div>

                                <div class="form-group">
                                    <label for="lostDateTextBox2">
                                        <span class="glyphicon glyphicon-time"></span>
                                        走失日期
                                    </label>
                                    <label id="lostDateTextBox2">
                                        test
                                    </label>

                                </div>

                                <div class="form-group">
                                    <label for="lostPlaceTextBox2">
                                        <span class="glyphicon glyphicon-bullhorn"></span>
                                        走失地點
                                    </label>
                                    <label id="lostPlaceTextBox2">
                                        test
                                    </label>

                                </div>
                                <div class="form-group">&nbsp;</div>
                                <div class="form-group"><h3>確定刪除請按確定</h3></div>

                            </div>
                            
                            
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button"
                                id="okButton2"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> 確定
                        </button>
                        <button type="button"
                                id="cancelButton2"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /對話盒 end (Detail/刪除)-->


    @*...................main..........................*@


    <div class="container">
        <div><button type="button" id="addFindPetButton" class="btn btn-default">新增</button></div><br />
        <div class="row" id="findPetList">

            @*<div class="col-sm-3">
                    <img src="~/image/p1.jpg" class="img-thumbnail" alt="Cinque Terre" width="720" height="472">

                    <br />2017-11-10<br />
                    台北市內湖區舊宗路<br /><br />
                </div>*@

        </div>
        @*test*@
        @*<span class="pull-right"><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>*@

        <div id="accordion">
            @*<h4>section 1</h4>
            <div>
                <p>
                    <span class="pull-right"><img src='../image/p1.jpg' id='petphoto' class='img-thumbnail petphoto' alt='cinque terre' width='360' height='540'></span>
                    
                    <div><h3>1</h3></div>
                    <div><h3>1</h3></div>
                    <div><h3>1</h3></div>
                    
                </p>
            </div>*@
            @*<h4>Section 2</h4>
            <div>
                <p>
                    Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
                    Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
                    faucibus interdum tellus libero ac justo.
                </p>
            </div>
            <h4>Section 3</h4>
            <div>
                <p>
                    Nam enim risus, molestie et, porta ac, aliquam ac, risus.
                    Quisque lobortis.Phasellus pellentesque purus in massa.
                </p>
            </div>*@
        </div>
    </div>
    
    <div id="debug"></div>
    <div data-role="content">
        <table id="resultTable" data-role="table" data-mode="columntoggle" class="table-stroke"></table>
    </div>

    <script>
                $(function () {
                    loadAndRefreshUI();
                    //$("#debug").text("OK");
                    $("#accordion").accordion({ header: "h4" });   
                    
                })

                function refreshNewsUI() {

                }

                function loadAndRefreshUI() {
                    //$.getJSON("/api/FindPet", function (data) {
                    //    $("#debug").text(JSON.stringify(data));
                    //    var sRows = "<tr><th>id</th><th>Name</th><th>Category</th><th>Price</th></tr>";
                    //    for (i = 0; i < data.length; i++) {
                    //        item = data[i];
                    //        sRows += "<tr>"
                    //                   + "<td>" + item.LostDate + "</td>"
                    //                   + "<td>" + item.LostPlace + "</td>"
                    //                   //+ "<td>" + item.Category + "</td>"
                    //                   //+ "<td>" + item.Price + "</td>"
                    //              + "</tr>"
                    //    }
                    //    $("#resultTable").html(sRows);
                    //});
                    //$("#findPetList").empty();
                    $("#accordion").empty();

                    $.ajax({
                        type: "get",
                        url: '/api/YMemberFindPet',
                        dataType: "json",
                        success: function (data) {
                            debug = data;
                            //alert(data);
                            

                            $.each(data, function (index, obj) {
                                var sRows = "";
                 
                                //var sImage = "<p><span class='pull-right'><img src='../image/" + obj.PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='300' height='480'></span></p>"
                                var sImage = "<p><img src='../image/" + obj.PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='300' height='480'></p>"
                                //var sbutton = '<span class="pull-right"><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>'
                                var sbutton = '<button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>'

                                sRows = "<h4>[" + obj.LostDate + "]" + obj.LostPlace + "</h4>"
                                          + "<div><p>" 
                                          + "<div class='col-sm-4'>" + sbutton + sImage + "</div>"
                                          + "<div class='col-sm-8'>"
                                          + "<div><h3>obj.Creator:(找memberId)" + obj.LostDate + "</h3></div>"
                                          + "<div><h3>obj.Species:(貓/狗/其他)" + obj.LostPlace + "</h3></div>"
                                          + "<div><h3>obj.Variety:(手動新增)" + obj.LostDate + "</h3></div>"
                                          + "<div><h3>obj.Characteristic1:(大型/中型/小型)" + obj.LostPlace + "</h3></div>"
                                          + "<div><h3>obj.Characteristic2:(成年/幼年)" + obj.LostDate + "</h3></div>"
                                          + "<div><h3>obj.Characteristic3:()" + obj.LostPlace + "</h3></div>"
                                          + "<div><h3>obj.CreateDate:(yyyy:mm:dd)" + obj.LostPlace + "</h3></div>"
                                          + "<div><h3>obj.LostDate:(yyyy:mm:dd)" + obj.LostDate + "</h3></div>"
                                          + "<div><h3>obj.LostPlace:" + obj.LostPlace + "</h3></div>"
                                          + "</div>"                          
                                          + "</p>"  + "</div>";
                                    $("#accordion").append(sRows).accordion('destroy').accordion();

                            })

                            //$.each(data, function (index, obj) {

                            //    var sRows = "<img src='../image/" + obj.PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='100%' height='80%'>"

                            //    var $div = $("<h4></h4>")
                            //                //.text(newsText1)
                            //                //.addClass("col-sm-3");
                            //    $div.prepend("session");
                            //    $div.appendTo("#accordion");

                            //})


                            //$.each(data, function (index, obj) {
                            //    //alert(obj.LostDate)
                            //    //var newsText1 = obj.LostDate + "\r\n [" + obj.LostPlace + "]";
                            //    var tRows1 = "&nbsp;" + obj.LostDate ;
                            //    var tRows2 = "&nbsp;" + obj.LostPlace;
                            //    var sRows = "<img src='../image/" + obj.PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='100%' height='80%'>"

                            //    var $div = $("<div></div>")
                            //                //.text(newsText1)
                            //                .addClass("col-sm-3");

                            //    //alert(sRows);
                            //    $div.prepend('<span class="pull-right"><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>');

                            //    $div.prepend(sRows);
                            //    $div.append(tRows1);
                            //    $div.append("<div></div>");
                            //    $div.append(tRows2);
                            //    $div.append("<div>&nbsp;</div>");
                            //    $div.appendTo("#findPetList");
                            //    //$("#debug").append($div);
                            //    //$("#debug").html(sRows);

                            //})


                            //點擊圖片可看detail
                            //$(".petPhoto").on("click", function (e) {
                            //    //var iIndex = ($(this).parent().parent().parent().index()-1)/2;
                                

                            //    var iIndex = ($(this).closest("div").index()-1)/2;
                            //    tempIndex = -1;

                            //    alert(iIndex);
                            //    var sRows = "<img src='../image/" + debug[iIndex].PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='100%' height='80%'>"

                            //    $("#showImg2").empty();
                            //    $("#showImg2").append(sRows)

                            //    //$("#petPhotoTextBox2").empty();
                            //    //$("#petPhotoTextBox2").append(debug[iIndex].PetPhoto);
                            //    $("#petPhotoTextBox2").text(debug[iIndex].PetPhoto);
                            //    $("#lostDateTextBox2").text(debug[iIndex].LostDate);
                            //    $("#lostPlaceTextBox2").text(debug[iIndex].LostPlace);
                            //    $("#findPetModal2").modal({ backdrop: "static" });
                            //})

                            $(".deleteItem").on("click", function (e) {
                                //var iIndex = $(this).parent().parent().index();

                                var iIndex = ($(this).closest("div").index() - 1) / 2;
                                tempIndex = iIndex;
                                //alert(iIndex);

                                var sRows = "<span class='modal_img'><img src='../image/" + debug[iIndex].PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='150' height='240'></span>"

                                $("#showImg2").empty();
                                $("#showImg2").append(sRows)
                                $("#petPhotoTextBox2").text(debug[iIndex].PetPhoto);
                                $("#lostDateTextBox2").text(debug[iIndex].LostDate);
                                $("#lostPlaceTextBox2").text(debug[iIndex].LostPlace);
                                $("#findPetModal2").modal({ backdrop: "static" });
                            })

                            $(".editItem").on("click", function (e) {
                                //var iIndex = $(this).parent().parent().index();

                                var iIndex = ($(this).closest("div").index() - 1) / 2;
                                //currentIndex = iIndex;
                                currentIndex = debug[iIndex].PetID;
                                //alert(iIndex);
                                setCookie("findPetBtn", currentIndex, 1);
                                window.location.href = 'YCreateFindPet';
                                //alert(getCookie("findPetBtn"));

                                //var sRows = "<img src='../image/" + debug[iIndex].PetPhoto + "' id='petPhoto' class='img-thumbnail petPhoto' alt='Cinque Terre' width='100%' height='80%'>"

                                //$("#showImg").empty();
                                //$("#showImg").append(sRows)
                                //$("#petPhotoTextBox").val(debug[iIndex].PetPhoto);
                                //$("#lostDateTextBox").val(debug[iIndex].LostDate);
                                //$("#lostPlaceTextBox").val(debug[iIndex].LostPlace);
                                //$("#findPetModal").modal({ backdrop: "static" });
                            })
                        },
                        error: function () {
                            alert("error");
                        }
                    });

                }

                //編輯
                //$(".editItem").click(function () {
                //    // var iIndex = $(this).parent().parent().index();
                //    alert("test");
                //    //var iIndex = $(this).closest("img").index();
                //    //currentIndex = iIndex;
                //    //$("#petPhotoTextBox").val(findPetList[iIndex].PetPhoto);
                //    //$("#lostDateTextBox").val(findPetList[iIndex].LostDate);
                //    //$("#lostPlaceTextBox").val(findPetList[iIndex].LostPlace);

                //    $("#findPetModal").modal({ backdrop: "static" });

                //})

                //新增
                $("#addFindPetButton").click(function () {
                    currentIndex = -1;
                    setCookie("findPetBtn", currentIndex, 1);
                    window.location.href = 'YCreateFindPet';
                    //alert(getCookie("findPetBtn"));

                    //$("#showImg").empty();

                })

                //確認(編輯/新增)
                $("#okButton").click(function () {

                    if (currentIndex >= 0) { // edit
                        //newsList[currentIndex].title = $("#titleTextBox").val();
                        //newsList[currentIndex].ymd = $("#ymdTextBox").val();
                        //refreshNewsUI();


                        var updateData = {
                            PetPhoto: $("#petPhotoTextBox").val(),
                            //Species: $("#speciesTextBox").val(),
                            //Variety: $("#varietyTextBox").val(),
                            //Characteristic: $("#characteristicTextBox").val(),
                            //CreateDate: $("#createDateTextBox").val(),
                            LostDate: $("#lostDateTextBox").val(),
                            LostPlace: $("#lostPlaceTextBox").val(),
                            //ContactMan: $("#contactManTextBox").val(),
                            //ContactTel: $("#contactTelTextBox").val(),
                            //ContactEmail: $("#contactEmailTextBox").val()
                        };

                        alert(debug[currentIndex].PetID);
                        alert(JSON.stringify(updateData));
                        //alert(data);

                        $.ajax({
                            url: '/api/FindPets/' + debug[currentIndex].PetID,
                            type: 'PUT',
                            data: JSON.stringify(updateData),
                            //dataType:'JSON',
                            //data: updateData,
                            contentType: "application/json;charset=utf-8",

                            success: function () {
                                loadAndRefreshUI();
                                alert("edit Done");
                            },
                            error: function (response) {
                                document.write(response.responseText);
                            }
                        });

                        $("#findPetModal").modal("hide");
                        //showToast("Information", "Edit Index = " + currentIndex);

                    }

                    else {  // new
                        //alert("new");
                        var newItem = {
                            PetPhoto: $("#petPhotoTextBox").val(),
                            //Species: $("#speciesTextBox").val(),
                            //Variety: $("#varietyTextBox").val(),
                            //Characteristic: $("#characteristicTextBox").val(),
                            //CreateDate: $("#createDateTextBox").val(),
                            LostDate: $("#lostDateTextBox").val(),
                            LostPlace: $("#lostPlaceTextBox").val(),
                            //ContactMan: $("#contactManTextBox").val(),
                            //ContactTel: $("#contactTelTextBox").val(),
                            //ContactEmail: $("#contactEmailTextBox").val()

                        };
                        alert($("#petPhotoTextBox").val());
                        $("#findPetModal").modal("hide");

                        $.ajax({
                            url: '/api/FindPets',
                            type: 'POST',
                            data: JSON.stringify(newItem),
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                loadAndRefreshUI();
                                alert("new");
                            },
                            error: function () {
                                alert("error");
                            }
                        });


                        //newsList.push(newItem);
                        //showToast("Information", "New Form Closed");
                    }
                })


                $("#okButton2").click(function () {
                    //if (tempIndex == -1) {
                    //    alert("detail");
                    //    $("#findPetModal2").modal("hide");
                    //} else {
                        //alert(debug[tempIndex].PetID);
                        alert(tempIndex);
                        $.ajax({
                            type: 'DELETE',
                            url: '/api/FindPets/' + debug[tempIndex].PetID,
                            success: function (data) {
                                loadAndRefreshUI();
                                alert("DELETE");
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                        $("#findPetModal2").modal("hide");
                    //}
                })

    </script>

</body>
</html>
