<div id="page" class="container-full">
    <div class="row">
        <div class="col-lg-1">
            <div id="content_title">
                尋寵啟示
            </div>
        </div>
    </div>
    <div id="viewPet" class="row section_items"></div>
    <div class="row">
        <div class="col-lg-1">
            <div id="content_title">
                拾獲通報
            </div>
        </div>
    </div>
    <div id="viewMom" class="row section_items"> </div>
</div>

<script>

    window.onload = initHome;

</script>

