@{
    ViewBag.Title = "Index";
}

@*---------------------------------------------------------------------------------------------------------------------------------------------*@

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIPxo-7dK6bdUUEiJ6ERWknbOgcRF8eMs&libraries=places"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
<script src="~/js/Radar.js"></script>

<link rel="stylesheet" href="~/css/forRadar.css" />

@*---------------------------------------------------------------------------------------------------------------------------------------------*@

<div class="rBody">

    <div id="rSidebar" class="sidebar">
        <div class="list-group rRadar_font">
            <span href="#" class="list-group-item active">動物機構</span>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 醫院 </a>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 商店 </a>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 旅館 </a>

            <span href="#" class="list-group-item active">站內資料</span>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 尋寵啟示 </a>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 拾獲通報 </a>
            <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> 認養資訊 </a>
        </div>
    </div>

    <div id="rMap_Body">

        <div id="rMap-Canvas"></div>

        <div class="rOaerror rWarning rRadar_font"> 目前搜索的範圍是 <strong id="rRange"> 0 </strong> 公尺 </div>

        <div id="rMap_Features" class="btn-group btn-group-justified">
            <a class="btn btn-success" onclick="rADD()"><span> 加大範圍 </span></a>
            <a class="btn btn-warning" onclick="rLower()"><span> 縮小範圍 </span></a>
            <a class="btn btn-danger" onclick="rRE()"><span> 重新搜尋 </span></a>
        </div>

       

    </div>

    <div id="rResult">

        <div id="rResult_Table">
            <ul id="rResult_Content" class="nav nav-pills nav-stacked timeline-centered">
                <li>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h2><a href="#">Art Ramadani</a> </h2>
                                <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>

    </div>

    <div style="clear:both;"></div>


</div>